<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fa449a4b-5fed-47ff-a334-d0bc3d93d83e/resourceGroups/prueba20220819200110ResourceGroup/providers/Microsoft.Web/sites/EnglishUpgradeApi20220819202918</ResourceId>
    <ResourceGroup>prueba20220819200110ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/fa449a4b-5fed-47ff-a334-d0bc3d93d83e/resourceGroups/prueba20220819200110ResourceGroup/providers/Microsoft.ApiManagement/service/EnglishUpgradeApiapi/apis/EnglishUpgradeApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://englishupgradeapi20220819202918.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b32c50bb-dc39-46e8-8fe3-2fd3128b4429</ProjectGuid>
    <MSDeployServiceURL>englishupgradeapi20220819202918.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EnglishUpgradeApi20220819202918</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$EnglishUpgradeApi20220819202918</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>